{{#partial "content"}}

    <h3 class="center">Welcome to the 2018 hack-a-thon!</h3>

    <p class="center">To register a team, fill out and submit the form below</p>

    

{{/partial}}

{{> layout.hbs}}