{{#partial "content"}}

    <h3 class="center">Welcome to the 2018 hack-a-thon!</h3>

    <p class="center">To register a team, fill out and submit the form below</p>

    <form action="/post/new" method="POST">
        <label for="teamName">Enter your Team Name:</label>
        <input type="text" id="teamName" name="teamName">

        <button class="btn btn-success" type="submit">Submit!</button>
    </form>
    

{{/partial}}

{{> layout.hbs}}