{{#partial "content"}}

    <p>Team Name</p>
    <p>{{team.teamName}}</p>
    <p>Team Description</p>
    <p>{{team.teamDescription}}</p>
    <p>Team Members</p>
    <p>{{team.teamMembers}}</p>

{{/partial}}

{{> layout.hbs}}